
<h2>Are you sure you want to delete this car? </h2>
<h3>Brand: <em><%= @car.brand %></em></h3>
<h3>Model: <em><%= @car.name %></em></h3>
<h3>Model Year: <em><%= @car.make_year %></em></h3>
<h3>Selling Price: <em>&#36;<%= @car.price %></em></h3>


<form action='/cars/<%= @car.id %>/delete' method='POST'>
  <input type='submit' value='Delete car'>
</form>
