<h3>Brand: <em><%= @car.brand %></em></h3>
<h3>Model: <em><%= @car.name %></em></h3>
<h3>Model Year: <em><%= @car.make_year %></em></h3>
<h3>Selling Price: <em>&#36;<%= @car.price %></em></h3>

<form action="<%="/cars/#{@car.id}/edit"%>" method="GET">
	<input type="submit" value="Edit Car">
</form><br>
<form action="<%="/cars/#{@car.id}/delete"%>" method="POST">
	<input type="submit" value="Delete Car">
</form>
