<form action="/cars/new" method="GET">
	<button type="submit">New car</button>
</form><br>
<form action="/signup" method="GET">
	<button type="submit">Signup</button>
</form><br>
<form action="/login" method="GET">
	<button type="submit">Log In</button>
</form><br>
<form action="/logout" method="GET">
	<button type="submit">Log Out</button>
</form>

<h3> Cars Available For Sale Today: </h3>
<% Car.all.each_with_index do |car, i| %>

	<p><a href='/cars/<%=car.id%>'>
		<%= (i+1).to_s + ':  ' %>
		<%= car.make_year %>
    <%= car.brand %>
    <%= car.name %>
		For: &#36;<%= car.price %>
  </a>&nbsp&nbsp&nbsp
  <a href="mailto:<%= car.user.email %>?Subject=Do%20You%20Still%20Have%20The%20<%= car.name %>%20For%20Sale?" target="_top">Contact Seller</a>
  </p>
<% end %>
